  H1 {
    color: blue;
    font-size: 200%;
    border-bottom: 2px solid blue;
    text-align: center;
    background-color: #808080;
  }
  EM {
    color: green;
    }
  .nav {
    float: left;
    background-color: white;
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
  }
  .nav, .nav UL {
    color: black;
    }
  .main {
    margin-left: 30%;
  }
  UL {
    color: green;
  }
  A {
    font-weight:bold;
    font-size: 110%;
  }
  A:link {
    color:blue;
  }
  A:visited {
    color: magenta;
  }
  A:hover {
    color: green;
  }
  A:active {
    color: yellow;
  }
  H1 EM {
    color: yellow;
  }
  P {
    border: 1px solid black;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 5px;
  }
  P:hover {
   background-color:#ccc; 
  }
  TABLE, TH , TD {
    border-collapse: collapse;
  }
  TH {
  border-top:2px solid black;
  border-bottom:1px solid black;
  }
  TABLE {
  border-bottom:2px solid black;
  margin: 0 auto;
  width: 30%;
   }
  TH , TD {
    padding: 0.5ex;
  }
  TBODY TR:nth-child(2n){ 
    background-color: white;
    }
  TBODY TR:nth-child(2n+1){ 
    background-color:#c0c0c0
}